<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
  <test thread-count="5" name="WeatherAPITest">
  	<classes>
  		<class name="com.testautomation.APIAutomation.test.WeatherAPITest"></class>
  	</classes>
  </test> <!-- GetWeatherTest -->
</suite> <!-- TestSuite -->
